# Any version okay
numpy
nibabel
nilearn
scipy
sklearn
matplotlib

# editable installation of local packages
-e /home/local/VANDERBILT/saundam1/Documents/t1_mapping/

# GitHub packages
pymp2rage @ git+https://github.com/Gilles86/pymp2rage.git